.expanded-detail {
  overflow: hidden;
}

.expanded-row {
  height: 0;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom-width: 0;
}

@keyframes detailExpand {
  from {
    height: 0;
  }
  to {
    height: auto;
  }
}

.expanded-detail {
  animation: detailExpand 0.3s ease-in-out;
}