<mat-toolbar class="bg-primary-400 flex w-full justify-between">
  <div class="flex items-center">
    <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Menu">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="text-2xl font-bold mr-4" routerLink="/main/SystemManagement/List">系統名稱</a>
    <p class="font-semibold" *ngIf="!isProduction">({{environmentName}})</p>
  </div>
  <div class="flex items-center">
    <p class="flex font-semibold text-xl mb-0 mr-4" *ngIf="userInfo">
      {{ userInfo.branchName }}/{{ userInfo.chineseName }}
    </p>
    <button mat-icon-button class="logout" [routerLink]="['/login']">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
<mat-drawer-container class="main-wrapper " autosize>
  <mat-drawer #drawer mode="side" opened class="min-w-[240px]">
    <ul>
      <li *ngFor="let page of modulePageList" class="flex w-full">
        <a *ngIf="page.type == 'link'" [routerLink]="[page.route]" routerLinkActive="bg-primary-800 text-white"
          class="px-4 py-4 text-base font-semibold leading-none hover:text-white hover:bg-primary-700 flex w-full">
          {{ page.pageName }}
        </a>
        <mat-expansion-panel *ngIf="page.type == 'menu'" class="shadow-none w-full rounded-none">
          <mat-expansion-panel-header class="text-base font-semibol hover:text-white hover:bg-primary-200 h-12 px-4"
            [ngClass]="
              router.isActive(page.route, false) ? 'bg-primary-200' : ''
            ">
            <mat-panel-title class="text-base">
              {{ page.pageName }}</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list *ngFor="let pageChild of page.children; index as i" class="flex w-full py-0">
            <a [routerLink]="[pageChild.route]" routerLinkActive="bg-primary-800 text-white"
              class="px-4 py-4 text-base font-semibold leading-none hover:text-white hover:bg-primary-700 flex w-full">{{
              pageChild.pageName }}</a>
            <mat-divider [class.hidden]="page.children?.length === i + 1"></mat-divider>
          </mat-nav-list>
        </mat-expansion-panel>
      </li>
    </ul>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
